<center><h1>Title of your comic</h1></center>


<center>
  <div class="comics">
    <% @comics.each do |comic| %>
      <%= link_to page_path(comic) do %>
        <div class="card small">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag comic.image, class: "image-width" %>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= link_to comic.title, page_path(comic) %></span>
            <span class="card-title activator grey-text text-darken-4"><%= link_to "Delete", comic, method: :delete, data: { confirm: 'You positive you want to delete this?' } %></span>
          </div>
        </div> 
      <% end %>  
    <% end %>
  </div>
</center>