<center><h1>Title Of Your Comic</h1></center>
<center>
  <div class="comics">
    <% @comics.each do |comic| %>
      <%= link_to page_path(comic) do %>
          <%= image_tag comic.image, class: "image-width", style: "width: 70vw; margin-top: -5.5px;" %>
      <% end %>  
    <% end %>
  </div>
</center>